@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Анимация градиента для заголовка */
  .animate-gradient {
    animation: gradient 3s ease infinite;
  }
  
  @keyframes gradient {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  /* Задержки для анимаций */
  .delay-300 {
    animation-delay: 300ms;
  }
  
  .delay-500 {
    animation-delay: 500ms;
  }
  
  .delay-1000 {
    animation-delay: 1000ms;
  }
  
  .delay-1500 {
    animation-delay: 1500ms;
  }
  
  .delay-2000 {
    animation-delay: 2000ms;
  }
}

